#header {
    width: 100%;
    border-bottom: 10px solid var(--main-color);
    display: flex;
    justify-content: center;
}

#clock {
    color: white;
    font-size: 80px;
    font-family: var(--main-font);
    font-weight: 700;
    margin: 0 auto;
    padding-left: 20px;
}

#weather {
    font-size: 15px;
    color: white;
    text-align:right;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}